<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="/global.css">
    <title>Forside</title>
    <meta charset="UTF-8">

</head>

<body>

<!--hero betyder main banner så en linje der går på tværs a html siden-->
<div>
<ul>
    <li><a class="active" href="/forside">Forside</a></li>
    <li><a href="/biler">Biler</a></li>
    <li><a href="/lejeaftaler">Leje aftaler</a></li>
    <li><a href="/skader">Skader</a></li>

</ul>

</div>

<div class="logo">
<img src="/billeder/kwb-kopi.png" alt="k.w.bruun" height="100px" width="auto"/>
</div>
</body>
</html>